# Based on SwiftFormat config compliant with Google Swift Guideline
# https://google.github.io/swift/#control-flow-statements
--swiftversion 6.0
--rules                           \
blankLinesAroundMark,             \
blankLinesAtEndOfScope,           \
blankLinesAtStartOfScope,         \
blankLinesBetweenScopes,          \
braces,                           \
consecutiveBlankLines,            \
consecutiveSpaces,                \
duplicateImports,                 \
elseOnSameLine,                   \
emptyBraces,                      \
enumNamespaces,                   \
extensionAccessControl,           \
hoistPatternLet,                  \
indent,                           \
leadingDelimiters,                \
linebreakAtEndOfFile,             \
redundantInit,                    \
redundantParens,                  \
redundantPattern,                 \
redundantRawValues,               \
redundantType,                    \
redundantVoidReturnType,          \
semicolons,                       \
sortImports,                      \
sortSwitchCases,                  \
spaceAroundBraces,                \
spaceAroundBrackets,              \
spaceAroundComments,              \
spaceAroundGenerics,              \
spaceAroundOperators,             \
spaceAroundParens,                \
spaceInsideBraces,                \
spaceInsideBrackets,              \
spaceInsideComments,              \
spaceInsideGenerics,              \
spaceInsideParens,                \
todos,                            \
trailingClosures,                 \
trailingCommas,                   \
trailingSpace,                    \
typeSugar,                        \
void,                             \
wrap,                             \
wrapArguments,                    \
wrapAttributes,                   \
andOperator,                      \
isEmpty,                          \
redundantBackticks,               \
redundantBreak,                   \
redundantExtensionACL,            \
redundantGet,                     \
redundantLetError,                \
redundantNilInit,                 \
redundantObjc,                    \
redundantReturn,                  \
redundantSelf,                    \
strongifiedSelf,                  \
initCoderUnavailable,             \
blankLinesBetweenImports,         \
headerFileName,                   \
fileHeader,                       \
modifierOrder

--extensionacl on-declarations
--indent tab
--tabwidth 2
--ifdef no-indent
--maxwidth 130
--typeattributes prev-line
--voidtype void
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapreturntype preserve
--wrapconditions after-first
--self init-only
--header ""
--modifierorder "fileprivate,open,public,internal,private,override,required,convenience,final,class,static,lazy,weak"
--allman false
